USE [master];
GO
CREATE DATABASE [Gringotts];
GO
USE [Gringotts];
GO
CREATE TABLE [WizzardDeposits]
([Id]                    INT
 PRIMARY KEY, 
 [FirstName]             VARCHAR(50), 
 [LastName]              VARCHAR(60), 
 [Notes]                 TEXT, 
 [Age]                   INT, 
 [MagicWandCreator]      VARCHAR(100), 
 [MagicWandSize]         SMALLINT, 
 [DepositGroup]          VARCHAR(20), 
 [DepositStartDate]      DATE, 
 [DepositAmount]         DECIMAL(8, 2), 
 [DepositInterest]       DECIMAL(5, 2), 
 [DepositCharge]         DECIMAL(8, 2), 
 [DepositExpirationDate] DATE, 
 [IsDepositExpired]      BIT
);
GO
SELECT COUNT(*)
FROM WizzardDeposits;

SELECT MAX(w.MagicWandSize) AS LongestMagicWand
FROM WizzardDeposits w;

SELECT w.DepositGroup, 
       MAX(w.MagicWandSize) AS LongestMagicWand
FROM WizzardDeposits w
GROUP BY w.DepositGroup;

SELECT TOP (2) w.DepositGroup
FROM WizzardDeposits w
GROUP BY w.DepositGroup
ORDER BY AVG(w.MagicWandSize);

SELECT w.DepositGroup, 
       SUM(w.DepositAmount)
FROM WizzardDeposits w
GROUP BY w.DepositGroup;

SELECT w.DepositGroup, 
       SUM(w.DepositAmount)
FROM WizzardDeposits w
WHERE w.MagicWandCreator = 'Ollivander family'
GROUP BY w.DepositGroup;

SELECT w.DepositGroup, 
       SUM(w.DepositAmount) AS [TotalSum]
FROM WizzardDeposits w
WHERE w.MagicWandCreator = 'Ollivander family'
GROUP BY w.DepositGroup
HAVING SUM(DepositAmount) < 150000
ORDER BY [TotalSum] DESC;

SELECT DepositGroup, 
       MagicWandCreator, 
       MIN(DepositCharge) AS [MinDepositCharge]
FROM WizzardDeposits
GROUP BY DepositGroup, 
         MagicWandCreator
ORDER BY MagicWandCreator, 
         DepositGroup;

SELECT CASE
           WHEN Age BETWEEN 0 AND 10
           THEN '[0-10]'
           WHEN Age BETWEEN 11 AND 20
           THEN '[11-20]'
           WHEN Age BETWEEN 21 AND 30
           THEN '[21-30]'
           WHEN Age BETWEEN 31 AND 40
           THEN '[31-40]'
           WHEN Age BETWEEN 41 AND 50
           THEN '[41-50]'
           WHEN Age BETWEEN 51 AND 60
           THEN '[51-60]'
           ELSE '[61+]'
       END AS [AgeGroup], 
       COUNT(*) AS [WizzardCount]
FROM WizzardDeposits
GROUP BY CASE
             WHEN Age BETWEEN 0 AND 10
             THEN '[0-10]'
             WHEN Age BETWEEN 11 AND 20
             THEN '[11-20]'
             WHEN Age BETWEEN 21 AND 30
             THEN '[21-30]'
             WHEN Age BETWEEN 31 AND 40
             THEN '[31-40]'
             WHEN Age BETWEEN 41 AND 50
             THEN '[41-50]'
             WHEN Age BETWEEN 51 AND 60
             THEN '[51-60]'
             ELSE '[61+]'
         END;

